th {
  width: 250px;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

td {
  width: 250px;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

table {
  width: 610px;
}

@media (max-width: 1400px) {
  table {
    width: 400px;
  }
}
