<div class="info-display">
  <div class="info-header" *ngIf="title || subtitle">
    <h5 *ngIf="title">{{ title }}</h5>
    <p *ngIf="subtitle">{{ subtitle }}</p>
  </div>

  <div class="info-content">
    <ng-container
      *ngIf="content; then customContent; else defaultContent"
    ></ng-container>

    <ng-template #customContent>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </ng-template>

    <ng-template #defaultContent>
      <span *ngIf="showDefault">{{ defaultContent }}</span>
    </ng-template>
  </div>
</div>
