<div class="map">
  <div class="counter">
    <h5>ICO Desk 16 pc</h5>
  </div>

  <div class="counter buff-area">
    <h5>Buffer Area</h5>
  </div>

  <div class="office">
    <div class="group">
      <div class="desk">A1</div>
      <div class="desk">A2</div>
      <div class="desk">A3</div>
      <div class="desk">A4</div>
    </div>

    <div class="group">
      <div class="desk">B1</div>
      <div class="desk">B2</div>
      <div class="desk">B3</div>
      <div class="desk">B4</div>
    </div>

    <div class="group">
      <div class="desk">C1</div>
      <div class="desk">C2</div>
      <div class="desk">C3</div>
      <div class="desk">C4</div>
    </div>

    <div class="group">
      <div class="desk">D1</div>
      <div class="desk">D2</div>
      <div class="desk">D3</div>
      <div class="desk">D4</div>
    </div>
  </div>

  <div class="buffer">
    <div class="group">
      <div class="desk buff">E1</div>
      <div class="desk buff">E2</div>
      <div class="desk buff">E3</div>
      <div class="desk buff">E4</div>
    </div>
  </div>

  <ng-content></ng-content>
</div>
