<div class="map">
  <div class="counter">
    <h5>ICO Desk 16 pc</h5>
  </div>

  <div class="counter buff-area">
    <h5>Buffer Area</h5>
  </div>

  <div class="office">
    <div class="group" *ngFor="let group of officeGroups">
      <div
        class="desk"
        *ngFor="let num of deskNumbers"
        [ngClass]="getStatus(group, num)"
        (click)="toggleDesk(group, num)"
      >
        {{ group }}{{ num }}
      </div>
    </div>
  </div>

  <div class="buffer">
    <div class="group">
      <div class="desk buff">E1</div>
      <div class="desk buff">E2</div>
      <div class="desk buff">E3</div>
      <div class="desk buff">E4</div>
    </div>
  </div>

  <ng-content></ng-content>
</div>
