::ng-deep .p-datepicker-day-selected {
  background-color: rgb(66, 66, 66) !important;
}

::ng-deep .p-button-text {
  color: rgb(43, 43, 43) !important;
}

::ng-deep .p-button-text:hover {
  background-color: #f8fafc !important;
}

::ng-deep .p-datepicker-header {
  border-bottom: 0px !important;
  margin-top: 30px !important;
}

::ng-deep .p-datepicker-panel {
  border: 0px !important;
}

::ng-deep .p-datepicker-day-cell {
  padding: 12px !important;
}

::ng-deep .p-datepicker-weekday-cell {
  padding: 12px !important;
}

::ng-deep .p-datepicker-weekday {
  font-weight: bold !important;
}

.message-box.warning {
  background-color: #f0eded;
  color: #ff0000;
  text-align: center;
}
